!!! 5
html
  head
    title= title
    block stylesheets
      link(rel = 'stylesheet', href = '/css/style.css')
      link(rel = 'stylesheet', href = '/css/bootstrap.min.css')
      link(rel = 'stylesheet', href = '/css/bootstrap-responsive.min.css') 
  body
    .container-fluid
      .messages
        - if (messages.error)
          .alert.alert-error
            button.close(type = 'button', data-dismiss = 'alert') ×
            strong Error! 
            span= messages.error
        - else if (messages.info)
          .alert.alert-success
            button.close(type = 'button', data-dismiss = 'alert') ×
            strong Success! 
            span= messages.info
      .main.row-fluid
        .span3
          ul.well.nav.nav-list
            li
              a(href = '/') Home
            li
              a(href = '/signin') Sign In
            li
              a(href = '/signout') Sign Out
        .span9
          h1.page-header= title
          block content
    block javascripts
      script(src = '/js/jquery-1.8.0.min.js')
      script(src = '/js/bootstrap.min.js')